@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-slate-800 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  input, select, textarea {
    @apply bg-white border-slate-300 rounded-lg text-sm transition-all focus:ring-2 focus:ring-slate-900/5 focus:border-slate-900 outline-none;
  }
}

/* Custom Scrollbar for Finance density */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}